body {
  background-color: rgb(238, 238, 238);
  height: 1000px;
}
header nav {
  position: fixed !important;
  top: 0;
  z-index: 52;
  width: 100%;
  backdrop-filter: blur(1px);
  background-color: rgb(143 143 143 / 50%);
}
.mainNav {
  font-weight: 700;
}
@media (min-width: 992px) {
  div#navbarSupportedContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
}
@media (max-width: 992px) {
  .contactNav {
    display: none;
  }
}
a.navbar-brand {
  margin: 0;
  padding: 0;
}
.image {
  width: 200px;
}
img {
  width: 100%;
  /* border-radius: 0.375rem; */
  /* -webkit-border-radius: 0.375rem; */
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
.dropdown-toggle::after {
  margin: 0px;
  margin-left: 1px;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
  z-index: 2;
}
.carousel-inner h5 {
  color: #232323;
  font-size: 2.5rem;
  font-weight: 700;
}
.carousel-inner p {
  color: #393939;
  font-size: 2rem;
}
.carousel-caption.d-none.d-md-block {
  backdrop-filter: blur(0.8px);
  background-color: rgb(238 238 238 / 20%);
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
.mainHeaderContent {
  position: absolute;
  bottom: -80px;
  z-index: 5;
  width: 80%;
  background-color: rgb(238 238 238 / 40%);
  backdrop-filter: blur(1.5px);
  padding: 20px 15px;
  margin-left: 25px;
  border-bottom: 1px solid #000;
}
.mainHeaderContent h1 {
  font-size: 60px;
  font-weight: 700;
  color: #094f59;
}
.mainHeaderContent p {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #252525;
}
button.carousel-control-next,
button.carousel-control-prev {
  z-index: 2;
}
i.bi.bi-instagram {
  color: #fff;
  font-size: 16px;
  background-color: #d31b70;
  border-radius: 50%;
  padding: 4px 8px;
}
i.bi.bi-facebook {
  color: #fff;
  font-size: 16px;
  background-color: #1b3ad3;
  border-radius: 50%;
  padding: 4px 8px;
}
i.bi.bi-twitter-x {
  color: #fff;
  font-size: 16px;
  background-color: #2f2f2f;
  border-radius: 50%;
  padding: 4px 8px;
}
.contactNav a.nav-link {
  padding: 5px 4px;
}
ul.nav.justify-content-end.contactNav {
  padding-bottom: 4px;
  border-bottom: 2px solid #d7d7d7;
  width: 80%;
}
ul.nav.justify-content-end.contactNav::before {
  content: "";
  position: absolute;
  background-color: #d7d7d7;
  width: 2px;
  height: 69px;
  left: -23px;
  z-index: 7;
  transform: rotate(-45deg);
  top: -19px;
}

/* Section 1 */
.aboutUs .item .item-inner {
  box-shadow: 0 0 3px #999999;
  position: relative;
}
.aboutUs .item .item-inner .img-box {
  position: relative;
}
.aboutUs .item .item-inner img {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s linear;
  border-radius: 0 !important;
}
.aboutUs .item .item-inner img.visibility-hidden {
  position: relative;
  visibility: hidden;
}
.aboutUs .item .item-inner img:nth-child(1) {
  -webkit-clip-path: inset(0 75% 0 0%);
  clip-path: inset(0 75% 0 0%);
  transition-delay: 0.3s;
}
.aboutUs .item .item-inner img:nth-child(2) {
  -webkit-clip-path: inset(0 50% 0 24%);
  clip-path: inset(0 50% 0 24%);
  transition-delay: 0.2s;
}
.aboutUs .item .item-inner img:nth-child(3) {
  -webkit-clip-path: inset(0 25% 0 49%);
  clip-path: inset(0 25% 0 49%);
  transition-delay: 0.1s;
}
.aboutUs .item .item-inner img:nth-child(4) {
  -webkit-clip-path: inset(0 0% 0 74%);
  clip-path: inset(0 0% 0 74%);
}
.aboutUs .item .item-inner:hover img {
  transform: translateX(20px) scale(0.6);
  opacity: 0;
}
.info-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  background-color: #222222e8;
  transition: all 0.9s ease-in-out;
}
.info-box:hover {
  opacity: 1;
}
.info-box h1 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.info-box img {
  margin-bottom: 20px;
}
/* Responsive */
@media (max-width: 991px) {
  .aboutUs .item {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (max-width: 575px) {
  .aboutUs .item {
    flex-basis: 100%;
    max-width: 100%;
  }
}
